body {
  margin: 0;
}

hr {
  width: 90%;
}

.Header {
  height: 150px;
  background: rgb(220,220,220);
  background: linear-gradient(180deg, rgba(220,220,220,1) 0%, rgba(255,255,255,1) 100%);
  text-align: center;
}

.Content {
  text-align: center;
  min-height: 300px;
  font-size: 22px;
  line-height: 1.5em;
  width: 60%;
  padding-left: 20%;
  padding-bottom: 2em;
  padding-top: 0.5em;
}

.Footer {
  text-align: left;
  font-size: 14px;
  padding-top: 2em;
  padding-bottom: 3em;
  padding-left: 6%;
}

.CompanyName {
  padding-top: 40px;
  font-size: 48px;
}

.Section {
  padding-top: 1em;
}

.Product {
  text-align: left;
}

.Heading {
  font-size: larger;
  font-weight: bold;
}